# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# expo
.expo/
dist/

# production
build/

# misc
.DS_Store
*.pem
*.tsbuildinfo
packages/web-app/.data/
packages/web-app/public/mobile-proofs/

# debug
npm-debug.log*

# local env files
.env*.local
!.env.example.local
.env

# vercel
.vercel

# turbo
.turbo

# IDE
.idea/
.vscode/
*.swp
*.swo
